<header>
  <div class="text-[50px] text-cyan-900	">
    <h1>Categories
      <h1>
      </div>
      <% @categories.each do |category|%>
        <div class=" border-solid border-2 border-cyan-900 flex justify-center space-x-10 mx-10 m-20">
          <img src=<%= category.icon%>>
          <span class="text-[40px]"><%= category.name%></span>
          <div class="deleteCategory">
            <%= button_to "Delete", category, method: :delete%>
          </div>
        <% end%>
        <div class="mt-20 text-[30px] border-solid border-2 border-cyan-900 mx-5 hover:border-t-4">
          <%= link_to "Add new category",new_category_path%>
        </div>
      </header>
