<header>
  <div class="text-[50px] text-cyan-900	">
    <h1>Categories
      <h1>
      </div>
      <% @categories.each do |categorie|%>
        <div class=" border-solid border-2 border-cyan-900 flex justify-center space-x-10 mx-10 m-20">
          <img src=<%= categorie.icon%>>
          <span class="text-[40px]"><%= categorie.name%></span>
        </div>
      <% end%>
      <div class="mt-20 text-[30px] border-solid border-2 border-cyan-900 mx-5 hover:border-t-4">
        <%= link_to "Add new category",new_category_path%>
      </div>
    </header>
