<header>
  <div class="text-[50px] text-cyan-900	">
    <h1>Categories
      <h1>
      </div>
      <% @categories.each do |category|%>
        <div class=" border-solid border-2 border-cyan-900 flex justify-around space-x-10 mx-10 m-20">
          <img src=<%= category.icon%>>
          <span class="text-[40px]"><%= link_to "#{category.name}", transactions_path%></span>
          <h2 class="text-[20px] mt-2 text-lime-900">Total amount</h2>
          <%= button_to "Delete", category, method: :delete, class:"text-[30px] mt-3 text-red-800"%>
        </div>
      <% end%>
    </div>
    <div class="mt-20 text-[30px] border-solid border-2 border-cyan-900 mx-5 hover:border-t-4">
      <%= link_to "Add new category",new_category_path%>
    </div>
  </header>
