<%= render partial:"layouts/nav" ,locals: {title: 'Add Categories'}%>
<div class="mx-auto md:w-2/3 w-full">
  <div class="min_nav">
    <h1>Add Categories</h1>
  </div>
  <%= render "form", category: @category %>
</div>
