<header>
  <div class="text-[50px] text-cyan-900	">
    <h1>Opertions
      <h1>
      </div>
      <% @operations.each do |opertion|%>
        <div class=" border-solid border-2 border-cyan-900 flex justify-around space-x-10 mx-10 m-20">
          <h1><%= opertion.name%></h1>
          <p><%= opertion.amount%></p>
          <%= button_to "Delete", opertion, method: :delete, class:"text-[30px] mt-3 text-red-800"%>
        </div>
      <% end%>
    </div>
   
  </header>
